* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 30px;
}
.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
}
.top-banner {
  background: url("../images/top-banner.png") no-repeat;
}
.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  margin-left: 20px;
  width: 70%;
}
.half-width p {
  padding-bottom: 20px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}
.dream-big {
  background: url("../images/dream-bg.png") no-repeat right;
  margin-top: 140px;
}
.dream {
  margin-right: 200px;
}
.experience-area {
  background: url("../images/exp-bg.png") no-repeat left;
  margin: 30px 0;
}
.experience-item {
  width: 40%;
  padding: 40px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
}
#experience-developer {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
#web-developer {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  font-size: 20px;
  color: orange;
  padding-bottom: 20px;
}
